<div class="gallery">
  <div class="galleryitem">
    <div class="galleryimgcontainer"><img class="galleryimg" src="/assets/merchantpaths2.jpg"></div>
  </div>
  <div class="galleryitem">
    <div class="galleryimgcontainer"><img class="galleryimg" src="/assets/shards.jpg"></div>
  </div>
</div>

<h1 class="gallerytitle caesar-dressing-regular">Characters</h1>
<div class="gallery">
  <div class="galleryitem">
    <div class="galleryimgcontainer"><img class="galleryimg" src="/assets/rohta.jpg"></div>
  </div>
</div>

<%= stylesheet_link_tag "layouts/gallery" %>
<%= javascript_include_tag "lores", defer: true %>