/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  white-space: nowrap;
}
a img {
  vertical-align: bottom;
}

/* ------ */

@import url('https://fonts.googleapis.com/css2?family=Copse&family=Kalam:wght@300;400;700&family=Patrick+Hand&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body {
  /* background-image: linear-gradient(#373759, black); */
  background-color: #000000;
}

/* text */

.jim-nightshade-regular {
  font-family: "Jim Nightshade", serif;
  font-weight: 400;
  font-style: normal;
}

.caesar-dressing-regular {
  font-family: "Caesar Dressing", serif;
  font-weight: 400;
  font-style: normal;
}

.texturina {
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* global variables */

:root {
  --site-margin: 2vh;
  --site-margin-mobile: 52px;
  --site-margin-doubled: calc(var(--site-margin) * 2);

  --comic-title-height: 150px;
}

/* content */

#comictitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 80%;
}

#comictitle>img {
  flex-basis: 450px;
  height: auto;
  object-fit: contain;
}

#comictitle:hover {
  opacity: 100%;
}

#fullwrap {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

#cpage {
  box-sizing: border-box;
  min-width: fit-content;
}

#cimage {
  max-height: 95vh;
  width: 100%;
  object-fit: contain;
}

#rightflex {
  width: 100%;
}

#comicnavigation {
  display: flex;
  flex-direction: column;
}

.comicnav {
  opacity: 30%;
  width: 80px;
  height: auto;
}

.navbutton>.comicnav {
  opacity: 80%;
}

.navbutton>.comicnav:hover {
  opacity: 100%;
}

#posteddate li, #pageandchapter li {
  color:rgb(165, 165, 165);
}

#posteddate {
  bottom: 12px;
  text-align: right;
  left: 0px;
  transform: translatex(-116%)
}

#pageandchapter {
  bottom: 12px;
  right: 0px;
  transform: translatex(116%)
}

#editfromshow {
  right: var(--site-margin);
  bottom: var(--site-margin);
}

#logout {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 125px;
  left: 24px;
}

/* zoom in */

#overlay {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.356); /* Fallback color */
}

#overlayimg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 96vh;
  max-width: 100%;

  animation-name: reveal;
  animation-duration: 0.5s;
}

@keyframes reveal {
  from {
    height: 80vh;
    opacity: 0%;
  }
  to {
    height: 96vh;
    opacity: 100%;
  }
}

/* comic title */

/* admin tools */

#logout {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 125px;
  left: 24px;
}

/* sidebars */

:root {
  --sidebar-top-margin: calc(var(--comic-title-height) + (var(--site-margin) * 6))
}

#sitenavigation, #socials {
  text-align: center;
  width:  184px;
  padding: 6px;
  margin-top: var(--sidebar-top-margin);

  display: flex;
  flex-direction: column;

  background-color: rgb(13 11 26);
  border-radius: 4px;
}

#sitenavigation {
  position: absolute;
  left: 0vw;
  padding-left: 2vw;
}

#socials {
  position: absolute;
  right: 0vw;
  padding-right: 2vw;
}

.sitelink {
  height: 60px;
  text-align: center;
  line-height: 2;
  font-size: 30px;
  color: #d8d8d8;
  opacity: 50%;
  border: 5px solid black;
  border-radius: 8px;

  transition: opacity 0.3s;
  text-shadow: #000000 1px 0 10px;

  font-family: "Caesar Dressing", serif;
  font-weight: 400;
  font-style: normal;
}

.sitelink:hover {
  opacity: 100%;
  color: rgb(255, 222, 78);
}

#archivelink {
  background: url("sjswebarchivelink");
  background-position: center;
  background-size: 135%;
}

#patreon {
  background: url("patreonweblink");
  background-position: center;
  background-size: 135%;
}

#twitter {
  background: url("twitterlink");
  background-position: center;
  background-size: 83%;
}