/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 18px;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
	vertical-align: baseline;
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
  background:#000000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  white-space: nowrap;
}
a:hover {
  color:rgb(219, 210, 86)
}

/* ------ */

@import url('https://fonts.googleapis.com/css2?family=Copse&family=Kalam:wght@300;400;700&family=Patrick+Hand&display=swap');

/* variables */

:root {
  --site-margin: 12px;
  --site-margin-mobile: 52px;
  --site-margin-doubled: calc(var(--site-margin) * 2);
  --comic-title-width: 330px;
  --comic-title-height: 125px;
  --site-nav-width: 116px;

  /* mobile */
}

/* Positioning */

  /* #fullwrap {
    position: relative;
  }

  #comictitle, #cpage, #sitenavigation, #comicnavigation, #posteddate, #pageandchapter, #socials, #new, #chapterslist {
    position: absolute;
  } */

/* ------ */

#fullwrap {
  display: flex;
  justify-content: space-between;

  min-height: 100dvh;
  max-width: 100%;
  box-sizing: border-box;

  background: #000000;
  /* background: -moz-linear-gradient(top, #4E5DA5 0%, #4C6B8E 100%);
  background: -webkit-linear-gradient(top, #4E5DA5 0%, #4C6B8E 100%);
  background: linear-gradient(to bottom, #4E5DA5 0%, #4C6B8E 100%); */

  padding: var(--site-margin);
}

#logout {
  position: fixed;
  bottom: 12px;
}

#comictitle img {
  width: var(--comic-title-width);
}

#sitenavigation {
}

.linktext {
  display: block;
  width: 100%;
  height: auto;
}

#sitenavigation, #socials {
  text-align: center;
  height: 400px;
  width:  116px;
  border: solid 2px;
  border-radius: 2px;
  border-color:rgba(255, 255, 255, 0.116);
  padding: 20px 7px 20px;
  line-height: 3;
  margin-top: calc(var(--comic-title-height) + (var(--site-margin) * 3));
  flex: 0 0 auto;
}

#new {
  display: flex;
  gap: 16px;
  margin-left: 16px;
}

#chapterslist {
  /* left: 50%;
  transform: translate(-50%, 0); */

  /* margin-left: 518px;
  margin-top: calc(var(--comic-title-height) + var(--site-margin-doubled));

  width: calc(100vw - var(--left-marg) - var(--right-marg));
  height: calc(100vh - var(--top-marg) - var(--site-margin));

  display: flex; */

  margin-top: calc(var(--comic-title-height) + var(--site-margin));
  margin-right: var(--site-margin-doubled);
  margin-left: var(--site-margin-doubled);
  flex-basis: 100%;
}

.chaptertitle {
  font-size: 36px;
}

.chaptergallery {
  display: flex;
  padding: 24px;
  flex-wrap: wrap;
  gap: 16px;
}

.galleryitem {
  text-align: center;
}

#cimage {
  max-height: 95vh;
}

#comicnavigation {
  top: 26px;
  right: -76px;
}

#comicnavigation li {
  line-height: 4;
  height: 92px;
  width: 60px;
}

.navbutton img {
  width: 60px; 
}

#posteddate li, #pageandchapter li {
  color:rgb(165, 165, 165);
}

#posteddate {
  bottom: 12px;
  text-align: right;
  left: 0px;
  transform: translatex(-116%)
}

#pageandchapter {
  bottom: 12px;
  right: 0px;
  transform: translatex(116%)
}

#socials {
  margin-top: calc(var(--comic-title-height) + (var(--site-margin) * 3));
  flex: 0 0 auto;
}

.adminbutton {
  /* right: var(--site-margin);
  bottom: var(--site-margin); */
}
/* 
@media screen and (max-width: 1620px) {
  #comictitle img {
    width: calc(var(--comic-title-width) / 2);
  }
} */

/* mobile */

@media screen and (max-width: 1250px) {
    
  #fullwrap, #comictitle, #sitenavigation, #cpage, #comicnavigation, #posteddate, #pageandchapter, #socials {
    position: static;
    transform: none;
  }

  a {
    font-size: 30px;
  }

  #fullwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding: 0;
  }

  #comictitle {
    font-size: 0;
    margin: var(--site-margin-mobile) 0px var(--site-margin-mobile) 0px;
  }

  #comictitle img {
    width: 400px;
  }
  
  #cpage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #cimage {
    order: 1;
    max-height: 100%;
    max-width: 100%;
  }

  #comicnavigation {
    order: 2;
    display: flex;
    gap: 60px;
    margin: 26px;
  }

  a.navbutton {
    display: flex;
    max-width: 100px;
  }
    
  .navbutton img {
    width: initial;
    max-width: 100%; 
  }

  #pageandchapter {
    order: 3;
    text-align: center;
  }

  #posteddate {
    order: 4;
  }

  #posteddate li {
    display: inline;
  }
  
  #sitenavigation {
    order: 5;
  }
  
  #socials {
    order: 6;
  }
  
  #sitenavigation, #socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    height: 100%;
    gap: 6px;
  }
  
  .linktext {
    display: block;
    width: 90vw;
    height: auto;
    background:#2b2b2b;
  }
  
  #pageandchapter {

  }
  
  #socials {

  }

  .adminbutton {
    position: static;
    order: 7;
    margin: var(--site-margin-mobile) 0px var(--site-margin-mobile) 0px;
  }
  
}