/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  white-space: nowrap;
}
a img {
  vertical-align: bottom;
}

/* ------ */

@import url('https://fonts.googleapis.com/css2?family=Copse&family=Kalam:wght@300;400;700&family=Patrick+Hand&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
}

/* Fonts */

.jim-nightshade-regular {
  font-family: "Jim Nightshade", serif;
  font-weight: 400;
  font-style: normal;
}

.caesar-dressing-regular {
  font-family: "Caesar Dressing", serif;
  font-weight: 400;
  font-style: normal;
}

.texturina {
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Variables */

:root {
  --site-margin: 2vh;
  --site-margin-mobile: 52px;
  --site-margin-doubled: calc(var(--site-margin) * 2);

  --comic-title-height: 150px;
}

/* Content */

#headinggraphic {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

#headinggraphic>img {
  height: auto;
  width: 473px;
}

#fullwrap {
  position: relative;
  top: 25vh;
  left: 50%;
  transform: translate(-50%);

  box-sizing: border-box;
  width: 66vw;
  padding: 15px;
}

#pageheading {
  text-align: center;
  font-size: 59px;
  margin-bottom: 81px;
  text-shadow: -1px -1px 20px #ffffff75;
  color: #ffd044;
}

.infocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  background-color: #53669b33;
  border-radius: 5px;
  box-shadow: 0px 0px 14px #010139;
  padding-top: 24px;
  padding-bottom: 24px;
}

.gallery {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  padding: 0px 22px;
  box-sizing: border-box;
  gap: 14px;
}

.gallerytitle, .galleryitem {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.galleryitem {
  font-size: 16px;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(165, 165, 165);
}

.galleryimgcontainer {
  height: 250px;
  flex-basis: 100%;
}

.galleryimg {
  position: relative;
  height: 100%;
  max-width: 100%;
  opacity: 50%;
  left: 0%;

  transition: opacity 0.3s;
}

.galleryimg:hover {
  opacity: 100%;
}

/* Zoom in */

#overlay {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.356);
}

#overlayimg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 96vh;
  max-width: 100%;

  animation-name: reveal;
  animation-duration: 0.5s;
}

@keyframes reveal {
  from {
    height: 80vh;
    opacity: 0%;
  }
  to {
    height: 96vh;
    opacity: 100%;
  }
}

/* comic title */

#comictitle {
  position: absolute;
  top: var(--site-margin);
  left: 50%;
  transform: translate(-50%);
  opacity: 80%;
  z-index: 1;
}

#comictitle:hover {
  opacity: 100%;
}

#comictitle img {
  height: var(--comic-title-height);
  width: auto;
}

/* admin tools */

.adminbutton {
  margin-top: 12px;
  padding: 1px 46px;
  padding-bottom: 5px;
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #ffd044;
  background-color: #1f1f8b;
}

.adminbutton:hover {
  margin-top: 12px;
  padding: 1px 46px;
  padding-bottom: 5px;
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #ffd044;
  background-color: #4343c9;
}

.editbutton {
  margin-top: 0px;
  padding: 0px 0px;
  padding-bottom: 4px;
  font-size: 14px;
}

.editbutton:hover {
  margin-top: 0px;
  padding: 0px 0px;
  padding-bottom: 4px;
  font-size: 14px;
}

/* sidebars */

:root {
  --sidebar-top-margin: calc(var(--comic-title-height) + (var(--site-margin) * 6))
}

#sitenavigation, #socials {
  text-align: center;
  width:  184px;
  padding: 6px;
  margin-top: var(--sidebar-top-margin);

  display: flex;
  flex-direction: column;

  background-color: rgb(13 11 26);
  border-radius: 4px;
}

#sitenavigation {
  position: absolute;
  left: 0vw;
  padding-left: 2vw;
}

#socials {
  position: absolute;
  right: 0vw;
  padding-right: 2vw;
}

.sitelink {
  height: 60px;
  text-align: center;
  line-height: 2;
  font-size: 30px;
  color: #d8d8d8;
  opacity: 50%;
  border: 5px solid black;
  border-radius: 8px;

  transition: opacity 0.3s;
  text-shadow: #000000 1px 0 10px;

  font-family: "Caesar Dressing", serif;
  font-weight: 400;
  font-style: normal;
}

.sitelink:hover {
  opacity: 100%;
  color: rgb(255, 222, 78);
}

@media screen and (max-width: 1240px) {

  #fullwrap {
    top: 35vh;
    width: 95vw;
  }

  #sitebuttons {
    position: relative;
    display: flex;
    justify-content: center;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    flex-wrap: wrap;
    z-index: 3;
  }

  #sitenavigation, #socials {
    position: static;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    width: auto;
    margin-top: 0;
    flex-basis: 100%;
    background-color: transparent;
    gap: 10px;
  }

  .sitelink {
    flex-basis: 250px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    border: 4.5px solid orange;
  }
}

@media screen and (max-width: 930px) {
  .sitelink {
    flex-basis: 26vw;
    height: 9vw;
    font-size: 4vw;
    border: 0.5vw solid orange;
  }
}