<ul id="sitenavigation">
  <%= link_to "Archive", pages_path, id: "archivelink", class: "sitelink" %>
  <%# <li><a class="linktext">-Ars Arcanum-</a></li>
  <li><a class="linktext">-Shop-</a></li> %>
</ul>