<div id="socials">
  <li><a class="linktext" id="patreon">Patreon</a></li>
  <li><a class="linktext" id="twitch">Twitch</a></li>
  <li><a class="linktext" id="twitter">Twitter</a></li>
  <li><a class="linktext" id="instagram">Instagram</a></li>
</div>