<div id="socials">
  <li><a class="linktext" id="patreon" href="patreon.com/StaxDeadEmpress">Patreon</a></li>
  <li><a class="linktext" id="twitch" href="https://m.twitch.tv/staxdeadempress/home">Twitch</a></li>
  <li><a class="linktext" id="twitter" href="x.com/sojournstarGN">Twitter</a></li>
  <%# <li><a class="linktext" id="instagram">Instagram</a></li> %>
</div>