<div id="socials">
  <a class="sitelink" id="patreon" href="https://patreon.com/StaxDeadEmpress">Patreon</a>
  <a class="sitelink" id="bluesky" href="https://bsky.app/profile/sojournstar.bsky.social">Bluesky</a>
  <a class="sitelink" id="webtoons" href="https://www.webtoons.com/en/canvas/sojourn-star/list?title_no=980500">Webtoons</a>
</div>