<div id="socials">
  <a class="sitelink" id="patreon" href="https://patreon.com/StaxDeadEmpress">Patreon</a>
  <a class="sitelink" id="twitter" href="https://x.com/sojournstarGN">Twitter</a>
  <%# <li><a class="linktext" id="instagram">Instagram</a></li> %>
</div>