<h1>Edit page</h1>

<%= render "form", page: @page%>
<%= link_to "Destroy", page_path(@page), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

<nav id="menu">
  <%= link_to 'HOME', "home#index" %>
  <%= link_to 'ARCHIVE', pages_path %>
</nav>