<%= stylesheet_link_tag "admin/admin" %>

<%= link_to "Back to archive", pages_path %>

<h1>Editing page</h1>

<%= render "edit_form", page: @page%>

<br><br><br>
<%= link_to "Delete", page_path(@page), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>