<h1>Pages</h1>

<% @pages.each do |page| %>
  <% if page.draft? %>
    <p>Draft</p>
  <% end %>
  <% if page.scheduled? %>
    <p>scheduled</p>
  <% end %>
  <div><%= link_to page.page_number, page %></div>
<% end %>

<%= link_to "New page", new_page_path %>