<h1><%= @page.chapter %></h1>

<p><%= @page.page_number %></p>

<ul>
  <li><%= link_to "Edit", edit_page_path(@page) %></li>
  <li><%= link_to "Destroy", page_path(@page), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>