<%= stylesheet_link_tag "characters/characters" %>

<div id="planet"><%= image_tag("sojourn_planet.png", size: "150x150")%></div>

<h1 id="characters" class="caesar-dressing-regular">Characters</h1>

<div class="charinfocontainer">

  <h1 class="caesar-dressing-regular">Main</h1>
  <div class="charcategory">
    <div class="charinfoimgcontainer"><img class="charinfo" src="/assets/rohta.jpg"></div>
  </div>

  <h1 class="caesar-dressing-regular">Supporting</h1>
  <div class="charcategory">
    <div class="charinfoimgcontainer"></div>
  </div>

</div>

<%= javascript_include_tag "characters", defer: true %>