<%= stylesheet_link_tag "characters/characters" %>

<div class="charinfocontainer">
  
  <div class="charcategory">
    <img class="charinfo" src="/assets/rohta.jpg">
  </div>

</div> 

<div id="overlay">
  <img id="overlayimg">
</div>

<%= javascript_include_tag "characters" %>