<%= stylesheet_link_tag "characters/characters" %>

<div class="charinfocontainer">
  
  <div class="charcategory">
    <div class="charinfoimgcontainer"><img class="charinfo" src="/assets/rohta.jpg"></div>
  </div>

</div> 

<%= javascript_include_tag "characters", defer: true %>