<%= stylesheet_link_tag "characters/characters" %>

<h1 class="caesar-dressing-regular">Main</h1>
<div class="charcategory">
  <div class="charinfoimgcontainer"><img class="charinfo" src="/assets/rohta.jpg"></div>
</div>

<h1 class="caesar-dressing-regular">Supporting</h1>
<div class="charcategory">
  <div class="charinfoimgcontainer"></div>
</div>

<%= javascript_include_tag "characters", defer: true %>