<%= stylesheet_link_tag "characters/characters" %>

<%= render "shared/site_navigation" %>

<div class="charinfocontainer">
<img class="charinfo" src="/assets/rohta.jpg">
</div>

<%= render "shared/socials"%>