<%= stylesheet_link_tag "characters/characters" %>



<div id="charinfopage">

  <%= render "shared/site_navigation" %>

  <div class="charinfocontainer">
    <img class="charinfo" src="/assets/rohta.jpg">
  </div>
  
</div>