/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 18px;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
	vertical-align: baseline;
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
  background:#000000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  white-space: nowrap;
}
a:hover {
  color:rgb(219, 210, 86)
}

/* ------ */

@import url('https://fonts.googleapis.com/css2?family=Copse&family=Kalam:wght@300;400;700&family=Patrick+Hand&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

/* global variables */

:root {
  --site-margin: 2vh;
  --site-margin-mobile: 52px;
  --site-margin-doubled: calc(var(--site-margin) * 2);

  --comic-title-height: 150px;
}

/* content */

#fullwrap {
  box-sizing: border-box;
  width: 66vw;
  padding: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.charinfoimgcontainer {
  height: 250px;
}

.charinfo {
  position: relative;
  height: 100%;
  max-width: 100%;
  opacity: 50%;
  left: 0%;

  transition: opacity 0.3s;
}

.charinfo:hover {
  opacity: 100%;
}

.charinfocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.356); /* Fallback color */
}

#overlayimg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 96vh;
  max-width: 100%;

  animation-name: reveal;
  animation-duration: 0.5s;
}

@keyframes reveal {
  from {
    height: 80vh;
    opacity: 0%;
  }
  to {
    height: 96vh;
    opacity: 100%;
  }
}

/* comic title */

#comictitle {
  position: absolute;
  top: var(--site-margin);
  left: 50%;
  transform: translate(-50%);
}

a img {
  vertical-align: bottom;
  height: var(--comic-title-height);
  width: auto;
}

/* admin tools */

#logout {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 125px;
  left: 24px;
}

/* sidebars */

:root {
  --sidebar-top-margin: calc(var(--comic-title-height) + (var(--site-margin) * 6))
}

#sitenavigation, #socials {
  text-align: center;
  height: 400px;
  width:  116px;
  border: solid 2px;
  border-radius: 2px;
  border-color:rgba(255, 255, 255, 0.116);
  padding: 20px 8px;
  line-height: 3;
  margin-top: var(--sidebar-top-margin);
}

#sitenavigation {
  position: absolute;
  left: 4vw;
}

#socials {
  position: absolute;
  right: 4vw;
}
/* 
@media screen and (max-width: 1250px) {

  #fullwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding-left: 0;
    padding-right: 0;
  }

  #chapterslist {
    width: 90vw;
    margin: 0;
  }

  .chaptergallery {
    display: flex;
    padding: 24px;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  #sitenavigation {
    order: 5;
  }
  
  #socials {
    order: 6;
    margin-top: 6px;
  }

  #sitenavigation, #socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    height: 100%;
    gap: 6px;
    padding: 0px;
  }
  
  .linktext {
    display: block;
    width: 90vw;
    height: auto;
    background:#2b2b2b;
  }

  #logout {
    position: static;
    top: 125px;
    left: 24px;
  }
  
} */