<%= stylesheet_link_tag "admin/admin" %>

<%= link_to "Back to archive", pages_path %>

<h1>Editing chapter</h1>

<%= render "form", chapter: @chapter %>

<br><br><br>
<%= link_to "Delete", chapter_path(@chapter), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>