<h1>Editing chapter</h1>

<%= render "form", chapter: @chapter %>

<br>

<%= link_to "Destroy", chapter_path(@chapter), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Back to archive", pages_path %>