<h1>Editing chapter</h1>

<%= render "form", chapter: @chapter %>

<br>

<div>
  <%= link_to "Show this chapter", @chapter %> |
</div>

<nav id="menu">
  <%= link_to 'HOME', "home#index" %>
  <%= link_to 'ARCHIVE', pages_path %>
</nav>