/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

#logout {
  position: fixed;
  right: 20px;
  top: 20px;
  background: #2e469f;
  border-radius: 5px;
  padding: 10px;


  font-weight: 400;
  font-style: normal;
  font-size: 26px;

  color:white;
}

#logout:hover {
  color: rgb(255, 222, 78);
}

.sitelink {
  font-family: "Kalam";
}

#archivelink {
  background: url("archivelink");
  background-position: center;
  background-size: 135%;
}

#lorelink {
  background: url("lorelink");
  background-position: center;
  background-size: 135%;
}

#patreon {
  background: url("patreonlink");
  background-position: center;
  background-size: 135%;
}

#bluesky {
  background: url("blueskylink");
  background-position: center;
  background-size: 83%;
}

#webtoons {
  background: url("webtoonslink");
  background-position: center;
  background-size: 70%;
}

@media screen and (max-width: 930px) {
  #patreon, #bluesky, #webtoons {
    background-size: cover;
  }
}